<div class="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing 
        elit. Quasi illum dolor quaerat maiores porro error 
        eius dolores alias, aut nulla possimus sed, non atque? 
        Harum fuga veniam qui repudiandae eaque.
        Lorem, ipsum dolor sit amet consectetur adipisicing 
        elit. Quasi illum dolor quaerat maiores porro error 
        eius dolores alias, aut nulla possimus sed, non atque? 
        Harum fuga veniam qui repudiandae eaque.
        Lorem, ipsum dolor sit amet consectetur adipisicing 
        elit. Quasi illum dolor quaerat maiores porro error 
        eius dolores alias, aut nulla possimus sed, non atque? 
        Harum fuga veniam qui repudiandae eaque.
    </p>
</article>